@charset "UTF-8";



		h1{
			font-family: Bahnschrift Condensed;
			font-size: 50pt;
			color: #003366;
			text-shadow: 1px 1px 15px #003366;
			text-align: center;
			margin: 0px 250px 0px 250px;

		}
		h2{
			font-family: Bahnschrift Condensed;
			font-size: 30pt;
			color: #FFCC00;
			text-align: center; 
			margin: 0px 250px 0px 250px;
		}
		h3{
			font-family: Bahnschrift Condensed;
			font-size: 20pt;
			color: #000000;
			text-indent: 25px;
			text-align: center; 
			margin: 0px 250px 0px 250px;
            }

        h4{
			font-family: Bahnschrift Condensed;
			font-size: 12pt;
			color: #003366;
			text-align: center;
			margin: 0px 150px 0px 100px;
			text-shadow: 1px 1px 15px #FFCC00;
		}


		p{
			font-family: Bahnschrift Condensed;
			font-size: 12pt;
			color: #000000;
			text-align: justify; 
			text-indent: 50px;
			margin: 0px 250px 0px 250px;
        }

        li{
        	font-family: Bahnschrift Condensed;
			font-size: 12pt;
			color: #000000;
			text-align: justify; 
			text-indent: 50px;
			margin: 0px 250px 0px 250px;
			position: center;

        }


		    div.box {
	        margin: 0px 200px 0px 200px;
		    width: 850px;
			display: inline-block;
			position: center;

				
		    }